body {
    font-size: 50px;
    font-family: Courier, Lucida, monospace;
    background-color: rgba(100, 100, 100, .25);
}

header {
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr auto;
}

.right {
    display: grid;
    place-items: center;
    margin: 10px 85px 5px 5px;
}

.left {
    display: grid;
    place-items: center;
    margin: 10px;
    border: black;
    border-style: solid;
    padding: 4px;
}

p {
    margin: 5px;
}

.lead {
    font-size: 65px;
}

h1 {
    margin: 25px;
}

@media screen and (max-width:1660px) {

    .right {
        margin: 10px 50px 5px 5px;
    }

}

@media screen and (max-width:1550px) {

    .right {
        margin: 10px 30px 5px 5px;
    }

}

@media screen and (max-width:1500px) {

    .right {
        margin: 10px 15px 5px 5px;
    }

}

@media screen and (max-width:1465px) {

    body {
        font-size: 38px;
    }

    .lead {
        font-size: 45px;
    }

    .right {
        margin: 10px 39px 5px 5px;
    }

}

@media screen and (max-width:1370px) {

    .right {
        margin: 10px 20px 5px 5px;
    }

}

@media screen and (max-width:1310px) {

    .right {
        margin: 10px 10px 5px 5px;
    }

    #currentDate {
        font-size: 30px;
    }

}

@media screen and (max-width:1200px) {

    .right {
        margin: 10px 5px 5px 5px;
    }

    #currentDate {
        font-size: 26px;
    }

}

@media screen and (max-width:1135px) {

    body {
        font-size: 30px;
    }

    .lead {
        font-size: 38px;
    }

    #currentDate {
        font-size: 22px;
    }

}

@media screen and (max-width:1085px) {

    body {
        font-size: 50px;
    }
    
    .right {
        margin: 20px 5px 5px 5px;
    }
    
    .lead {
        font-size: 65px;
    }

    .container {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    #currentDate {
        font-size: 50px;
    }


}

@media screen and (max-width:770px) {

    .adjust {
        width: 650px;
    }

    h1 {
        font-size: 80px;
        margin: 18px;
    }

    #currentDate {
        font-size: 45px;
    }

}

@media screen and (max-width:700px) {

    .adjust {
        width: 620px;
        height: 450px;
    }

}

@media screen and (max-width:670px) {

    .adjust {
        width: 580px;
        height: 400px;
    }

    #currentDate {
        font-size: 40px;
    }

}

@media screen and (max-width:629px) {

    .adjust {
        width: 550px;
        height: 385px;
    }

    h1 {
        font-size: 70px;
    }

    body {
        font-size: 38px;
    }

    .lead {
        font-size: 45px;
    }

}

@media screen and (max-width:580px) {

    .adjust {
        width: 520px;
        height: 375px;
    }

    #currentDate {
        font-size: 36px;
    }
}


@media screen and (max-width:560px) {

    .adjust {
        width: 500px;
        height: 365px;
    }
}

@media screen and (max-width:530px) {

    .adjust {
        width: 460px;
        height: 340px;
    }

    h1 {
        font-size: 55px;
    }

    #currentDate {
        font-size: 32px;
    }
}

@media screen and (max-width:490px) {

    .adjust {
        width: 420px;
        height: 320px;
    }

    #currentDate {
        font-size: 30px;
    }
}

@media screen and (max-width:448px) {

    .adjust {
        width: 380px;
        height: 295px;
    }

    h1 {
        font-size: 48px;
    }

    #currentDate {
        font-size: 28px;
    }
}

@media screen and (max-width:405px) {

    .adjust {
        width: 348px;
        height: 280px;
    }

    h1 {
        margin: 12px;
    }

    #currentDate {
        font-size: 25px;
    }
}